.App {
  text-align: center;
  border: 1px solid rebeccapurple;
  height: 500px;
  width: 80%;
  margin: auto;
  background-color: #202124;
  color: white;
  
}
.subcon{
  display: flex;
  justify-content: space-around;
  
}
.subcon h2{
  cursor: pointer;
  font-size: large;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.content{
  display: flex;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  background-color: #282c34;
}

.head{
  color: white;
  text-align: center;
}